= page_header
%p.lead= t '.lead'
%p= t '.no_account'

= panel do
  .panel-body

    -# Create a new user if not already specified by a controller
    - @user = User.new unless @user

    = simple_horizontal_form_for @user, url: new_session_path do |f|

      = f.input :email, autofocus: true
      = f.input :password
      .form-group
        .col-sm-offset-3.col-sm-9
          = f.button :submit
          = btn_link_to t('.forgot_password'), '#TODO', context: :link
