= page_header
%p.lead= t '.lead'
%p= t '.no_account'

= alert_box t('.logout'), context: :success if flash[:logout]
= alert_box t('.blocked'), context: :danger if flash[:blocked]
= alert_box t('.server_has_account'), context: :warning if flash[:server_has_account]
= alert_box t('.invalid_seed'), context: :danger if flash[:invalid_seed]
= alert_box t('.no_server_available'), context: :danger if flash[:no_server_available]

= panel do
  .panel-body

    -# Create a new user if not already specified by a controller
    - @user ||= User.new

    = simple_horizontal_form_for @user, url: login_path, method: :post do |f|

      = f.input :email, autofocus: true
      = f.input :password
      .form-group
        .col-sm-offset-3.col-sm-9
          = f.button :submit, t('.submit')
          = btn_link_to t('.forgot_password'), '#TODO', context: :link
