= page_header

.table-responsive
  %table.table.table-striped.table-hover.table-cols-contract
    %thead
      %tr
        %th.col-expand= Message.human_attribute_name(:subject)
        %th= Message.human_attribute_name(:user)
        %th= Message.human_attribute_name(:date)
        %th= Message.human_attribute_name(:state)
        %th
    %tbody
      - @messages.each do |message|
        %tr
          %th= message
          %td= message.user
          %td= l message.date
          %td
            = state_icon(message.state)
            = Message.human_attribute_name("state.#{message.state}")
          %td= btn_link_to t('defaults.show'), admin_message_path(message), icon: :eye_open, size: :small
