= page_header
%p.lead.clearfix
  = t '.messages', count: @messages.count
  = btn_link_to t('defaults.add'), new_admin_message_path, icon: :plus, context: :success, class: 'pull-right'

- if @messages.any?

  = render 'shared/table_search', id: 'messages-searcher'

  %table.table.table-striped.table-hover.table-rows-link.table-data{ width: '100%', data: { scroll: true, search: '#messages-searcher', column: 2, reverse: true }}
    %thead
      %tr
        %th= Message.human_attribute_name(:subject)
        %th= Message.human_attribute_name(:user)
        %th= Message.human_attribute_name(:date)
        %th= Message.human_attribute_name(:plan)
        %th= Message.human_attribute_name(:state)
    %tbody
      - @messages.each do |message|
        %tr
          %th.text-nowrap= link_to message, admin_message_path(message)
          %td.text-nowrap= message.user
          %td{ data: { order: message.date }}= l message.date
          %td= p = message.plan and link_to p, admin_plan_path(p)
          %td{'data-order' => message[:state]}
            = state_icon(message.state)
            = Message.human_attribute_name("state.#{message.state}")
