= page_header t('.title'), @message
%p.lead.clearfix
  = t @message.sent? ? '.lead_sent' : '.lead_draft'
  = btn_link_to t('defaults.send'), admin_message_mail_path(@message), icon: :send, context: :primary, class: 'pull-right' if @message.draft?

%p
  %strong= "#{Message.human_attribute_name(:servers)}:"
  = @message.servers.any? ? @message.servers.map(&:shortname).join(', ') : t('.no_servers')

= panel @message.as_html(@current_server), title: t('.html')
= panel title: t('.text') do
  %pre.panel-body= @message.as_text(@current_server)

%p
  %strong= "#{Message.human_attribute_name(:plan)}:"
  = link_to @message.plan, admin_plan_path(@message.plan)

.form-group
  .col-sm-9.col-sm-offset-3
    = btn_link_to t('defaults.cancel'), admin_messages_path, icon: :triangle_left
    - if @message.draft?
      = btn_link_to t('defaults.delete'), admin_message_path(@message), method: :delete, context: :danger, icon: :trash, data: { confirm: t('.confirm_delete') }
      = btn_link_to t('defaults.edit'), edit_admin_message_path(@message), icon: :pencil, context: :primary
