= page_header t('.title'), @current_user
%p.lead= t '.lead'

= flash_message :changes_saved, context: :success

= simple_horizontal_form_for @current_user, url: settings_path, method: :post do |f|
  = f.input :email
  %span.help-block.col-sm-9.col-sm-offset-3= t '.password_optional'
  = f.input :password
  = f.input :password_confirmation
  .form-group
    .col-sm-offset-3.col-sm-9
      = f.button :submit

%hr/

%h2= Server.model_name.human(count: :many)
%p.lead
  = t '.server_lead'
  %small= t '.server_description'

= simple_horizontal_form_for @current_user, url: settings_path, method: :post do |f|
  .table-responsive
    %table.table.table-striped.table-hover
      %thead
        %tr
          %th= Server.model_name.human
          %th= Server.human_attribute_name(:size_talar)
          %th= Server.human_attribute_name(:size_rochet)
      %tbody
        = f.simple_fields_for :servers, @current_user.servers do |server|
          %tr
            %td= server.object
            %td
              = server.number_field :size_talar, class: 'form-control'
              = server.full_error :size_talar
            %td
              = server.number_field :size_rochet, class: 'form-control'
              = server.full_error :size_rochet
  .form-group
    .col-sm-offset-3.col-sm-9
      = f.button :submit, t('.save_servers')

%hr/

%h2= t '.delete_account'
%p.lead= t '.delete_lead'
%p= t '.delete_description'

%div.text-center
  = button_to settings_path, method: :delete, context: :danger, icon: :trash, data: { confirm: t('.delete_confirm') } do
    = icon :trash
    = t '.delete'

