= navbar position: :top do
  = vertical do
    = link_to '<span class="tap-tau">ğ›•</span>apeinos', root_path

  - if @current_server

    .navbar-right
      - html = icon(:user) + ' ' + @current_server.firstname
      = dropdown html, button: { class: 'navbar-btn' } do
        - if @current_server.siblings.any?
          - @current_server.siblings.each do |other|
            = link_to change_server_path(other.id) do
              = icon :user
              = other.firstname
          %li.divider

        - if @current_user
          = link_to settings_path do
            = icon :cog
            = t 'defaults.settings'

        = link_to logout_path do
          = icon :log_out
          = t 'defaults.logout'

    = horizontal do
      = nav do
        = link_to Plan.model_name.human(count: :many), plans_path
        = link_to t('defaults.administration'), admin_servers_path if @current_user.try(:admin)
