.navbar.navbar-default.navbar-fixed-top
  .container

    -# Title of the software ("Brand").
    .navbar-header.pull-left
      = link_to '<strong class="tap-tau">τ</strong>apeinos', root_path, class: 'navbar-brand'

    -# Button group for collapsing the menu and changing the current server.
    - if @current_server
      .btn-group.pull-right

        -# The css ensures that this button is rounded, if the %button.collapsed below is not shown on large screens.
        - html = [icon(:user), @current_server.firstname].join(' ')
        = dropdown html, button: { class: 'navbar-btn serverchanger-btn' }, align: :right do
          - if @other_servers.any?
            - @other_servers.each do |other|
              = link_to change_server_path(other.id) do
                = icon :user
                = other.firstname
            %li.divider
          - if @current_user
            = link_to settings_path do
              = icon :cog
              = t 'defaults.settings'
          = link_to about_path do
            = icon :info_sign
            = t 'defaults.about'
          = link_to logout_path do
            = icon :log_out
            = t 'defaults.logout'

        -# This button allows collapsing of the menubar on smaller screens.
        %button.btn.btn-default.collapsed.navbar-btn.serverchanger-menu{ type: 'button', data: { toggle: 'collapse', target: '#navbar-collapse' }}
          = icon :menu_hamburger

      -# The actual menu is displayed here.
      .collapse.navbar-collapse#navbar-collapse
        %ul.nav.navbar-nav
          %li{class: ('active' if controller_name == 'plans' && !@admin)}
            = link_to Plan.model_name.human(count: :many), plans_path
          %li{class: ('active' if @admin)}
            = link_to t('defaults.administration'), admin_servers_path if @current_user.try(:admin)
