.row
  .col-sm-3
    %object.about-logo{ type: 'image/svg+xml', data: 'tapeinos.svg', width: '100%' }

  .col-sm-9
    = page_header 'τapeinos', t('.version') % { version: Rails.configuration.version, locale: I18n.locale }
    %p.lead= t '.description'

%hr/
:markdown
  #{File.read(@changelog)}
%hr/

%p
  %small.text-muted
    = icon :copyright_mark
    #{DateTime.now.year},
    #{mail_to 'matthias@gianfelice.de', 'Matthias Gianfelice'},
    #{t '.additional_design_work'}:
    = mail_to 'chat@philipbleicker.com', 'Philip Bleicker'
