= simple_horizontal_form_for [ :admin, @server ] do |f|

  = f.input :firstname
  = f.input :lastname
  = f.input :email unless @server.user
  = f.input :birthday, html5: true, input_html: { min: Date.new(1950), max: Date.today }
  = f.input :sex, collection: Server.sexes.symbolize_keys.keys, as: :radio_buttons, item_wrapper_class: 'col-sm-4'
  = f.input :size_talar
  = f.input :size_rochet
  = f.input :since, html5: true, input_html: { min: Date.new(1950), max: 1.year.from_now.end_of_year }
  = f.input :rank, collection: Server.ranks.symbolize_keys.keys, include_blank: false, as: :radio_buttons, item_wrapper_class: 'col-sm-2'
  = f.association :user, input_html: { class: 'chosen-select' }

  .form-group
    .col-sm-9.col-sm-offset-3
      = f.button :submit
      = btn_link_to t('defaults.cancel'), admin_servers_path, context: :link
      = btn_link_to t('defaults.delete'), admin_server_path(@server), method: :delete, context: :danger, icon: :trash, data: { confirm: t('.confirm_delete') } if action_name == 'edit'
