= page_header

.table-responsive
  %table.table.table-striped.table-hover.table-cols-contract
    %thead
      %tr
        %th{colspan: 2}= Server.human_attribute_name(:name)
        %th{colspan: 2}= Server.human_attribute_name(:email)
        %th= Server.human_attribute_name(:rank)
        %th= Server.human_attribute_name(:last_used)
        %th{colspan: 2}= Server.human_attribute_name(:sizes)
        %th
    %tbody
      - @servers.each do |server|
        %tr
          %td= server.firstname
          %th= server.lastname
          %td= btn_link_to nil, '#TODO', icon: :user, size: :small if server.user
          %td.col-expand= mail_to server.email
          %td
            = rank_icon server.rank
            = Server.human_attribute_name("rank.#{server.rank}")
          %td= l server.last_used, format: :short if server.last_used
          %td= server.size_talar
          %td= server.size_rochet
          %td
            = btn_link_to t('defaults.edit'), edit_admin_server_path(server), icon: :pencil, size: :small
