= page_header t('.title'), @plan

-# Introduction
= btn_link_to t('defaults.download'), admin_plan_path(@plan, format: :pdf), icon: :save_file, context: :primary, class: 'pull-right'
%p.lead= t '.enrolled', count: @plan.servers.count
- missing = Server.all.to_a - @plan.servers.to_a
%p
  = t '.missing', count: missing.count
  = safe_join missing.map { |s| mail_to s.email, s.shortname }, ', '
= enrollement(@plan)
%hr/

-# Content
:markdown
  #{@plan.remark}

- if @plan.events.any?

  = render 'shared/table_search', id: 'events-searcher'

  %table.table.table-striped.table-hover.table-data{ width: '100%', data: { scroll: true, search: '#events-earcher' }}
    %thead
      %tr
        %th= Event.human_attribute_name(:date)
        %th= Event.human_attribute_name(:location)
        %th.no-sort= Event.human_attribute_name(:title)
        %th.no-sort= Event.human_attribute_name(:servers)
        %th.no-search
    %tbody
      - @plan.events.each do |event|
        %tr
          %td.text-nowrap{ data: { order: event.date }}= l event.date
          %td.text-nowrap= event.location
          %th.text-nowrap= event.title
          %td.col-expand
            %small= event.list_servers
          %td.text-nowrap= [ event.enrolled, '/', event.needed ].join(' ')

.form-group
  .col-sm-9.col-sm-offset-3
    = btn_link_to t('defaults.edit'), edit_admin_plan_path(@plan), icon: :pencil, context: :primary
    = btn_link_to t('defaults.cancel'), admin_plans_path, context: :link

