%p.lead= t '.lead'
:markdown
  #{t '.description'}

= simple_horizontal_form_for :settings, url: wizard_path, method: :put do |f|
  = f.input :email_server, input_html: { autofocus: true }
  = f.input :email_port, as: :integer
  = f.input :email_username
  = f.input :email_password, input_html: { value: @settings[:email_password] }
  = f.input :email_email
  = f.input :email_name
  .row
    .col-xs-6.col-sm-4.col-sm-offset-3
      = btn_link_to t('defaults.back'), previous_wizard_path, icon: :triangle_left
    .col-xs-6.col-sm-5.text-right
      = f.button :button do
        = t 'defaults.forward'
        = icon :triangle_right
