= page_header t('.title'), @user
%p.lead= t '.lead'

= simple_horizontal_form_for [ :admin, @user ] do |f|

  = f.input :email
  = f.input :password
  = f.input :password_confirmation
  = f.input :role, collection: User.roles.symbolize_keys.keys, include_blank: false, as: :radio_buttons, item_wrapper_class: 'col-sm-2'
  = f.association :servers, input_html: { class: 'chosen-select' }

  .form-group
    .col-sm-9.col-sm-offset-3
      = f.button :submit
      = btn_link_to t('defaults.cancel'), admin_users_path, context: :link
      = btn_link_to t('defaults.delete'), admin_user_path(@user), method: :delete, context: :danger, icon: :trash, data: { confirm: t('.confirm_delete') }
