= page_header t('.title'), @plan.title

:markdown
  #{@plan.remark}

= simple_form_for @plan do |f|
  .table-responsive
    %table.table.table-striped.table-hover
      %thead
        %tr
          %th
          %th{ colspan: 2 } Datum
          %th Name
          %th Messdiener
      %tbody
        - @plan.events.each do |event|
          %tr
            %td.text-center= check_box_tag 'events[]', event.id, @current_server.events.include?(event)
            %td= l event.date.to_date, format: :long
            %td= l event.date, format: :time_only
            %td= event.title
            %td= [ event.enrolled, '/', event.needed ].join(' ')

  = f.button :submit
