= page_header t('.title'), @current_server.firstname

%p.lead= t '.lead', count: @plans.count

- if @plans.any?
  .table-responsive
    %table.table.table-striped.table-hover.table-cols-contract
      %thead
        %tr
          %th= Plan.human_attribute_name(:title)
          %th= Plan.human_attribute_name(:events)
          %th.col-expand= Plan.human_attribute_name(:remark)
          %th
      %tbody
        - @plans.each do |plan|
          %tr
            %th= plan
            %td= [l(plan.first_date), ' – ', l(plan.last_date)].join(' ')
            %td
              :markdown
                #{plan.remark}
            %td= btn_link_to t('.enroll'), plan_path(plan), icon: :pencil, size: :small

= render 'shared/register_alert' unless @current_user


