= page_header t('.title'), @current_server.firstname

%p.lead= t '.lead', count: @plans.count

- if @plans.any?
  %table.table.table-striped.table-hover.table-rows-link
    %thead
      %tr
        %th= Plan.human_attribute_name(:title)
        %th.hidden-xs= Plan.human_attribute_name(:events)
        %th= Plan.human_attribute_name(:remark)
    %tbody
      - @plans.each do |plan|
        %tr
          %td
            %strong= link_to plan, plan_path(plan)
            %br/
            %span.visible-xs= date_range(plan.first_date, plan.last_date)
          %td.text-nowrap.hidden-xs= date_range(plan.first_date, plan.last_date)
          %td
            - if plan.remark
              :markdown
                #{plan.remark.truncate_words(10)}

= render 'shared/register_alert' unless @current_user


