= page_header t('.title'), @plan.title

= flash_message :enrolled, context: :success

.row

  .col-md-3.col-md-push-9
    :markdown
      #{@plan.remark}

  = simple_form_for @plan, html: { class: 'col-md-9 col-md-pull-3' } do |f|
    %table.table.table-striped.table-hover.table-rows-checkbox
      %thead
        %tr
          %th
          %th.hidden-xs{ colspan: 2 }= Event.human_attribute_name(:date)
          %th.visible-xs= Event.human_attribute_name(:date)
          %th= Event.human_attribute_name(:title)
          %th.hidden-xs= Event.human_attribute_name(:location)
          %th.hidden-xs= Event.human_attribute_name(:servers)
      %tbody
        - @plan.events.each do |event|
          %tr
            %td= check_box_tag 'events[]', event.id, @current_server.events.include?(event)
            %th.text-nowrap.hidden-xs= l event.date.to_date, format: :long
            %th.text-nowrap.hidden-xs= l event.date, format: :time_only
            %td.text-nowrap.visible-xs
              = l event.date.to_date, format: :mobile
              %br/
              = l event.date, format: :time_only
            %td
              - if event.title.present?
                %strong= event.title
                %br/
              %span.visible-xs
                = event.location
                = "(#{event.enrolled}/#{event.needed})"
            %td.text-nowrap.hidden-xs= event.location
            %td.text-nowrap.hidden-xs= [ event.enrolled, event.needed ].join(' / ')

    = enrollement(@plan)

    .text-right
      = btn_link_to t('defaults.cancel'), plans_path, context: :link
      = f.button :submit, t('.submit')
