= render layout: 'layouts/master' do

  -# Server error messages
  = server_error(:redis_up, :redis_down)
  = server_error(:sidekiq_up, :sidekiq_down)
  = server_error(:sidekiq_queue_mailer, :sidekiq_mailer_down)

  = yield
